# Ignore Python virtual environment
capstone_env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS system files
.DS_Store

# Logs
*.log

# VSCode settings
.vscode/
